body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.textbox {
    position: relative;
    height: auto;
    background: white;
    padding: 50px;
    margin-top: -1px;
    margin-bottom: -1px;
    z-index: 20;
    box-shadow: 0 0 20px rgba(80, 80, 80, 0.8);
    font-size: 40px;
    font-weight: bold;
}

.textbox-first {
  padding-top: 125px;
}

@media screen and (max-width: 766px) {
  .textbox-first {
      padding-top: 90px;
  }
}

.parallaxbox {
    height: 70%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    border-top: .5px solid black;
    border-bottom: .5px solid black;
    z-index: 10;
}

.about-me {
  margin: 120px 25%;
  /*float: left;*/
  height: 300px;
  width: 50%;
  background-color: rgba(245,245,245,.85);
  z-index: 100;
  text-align: center;
  color: black;
  padding: 70px 20px;
}

/*button {
  text-align: center;
  color: white !important;
  background-color: rgba(255, 200, 0, 1);
  padding: 8px 32px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  border-radius: 6px;
  border: 2px solid white;
  display: block;
  transition-duration: 0.4s;
  margin: 0 28% 0 10% !important;

}

button:hover {
  background-color: transparent;
  color: white;
}*/

.my-name {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 32px;
}

@media screen and (max-width: 887px) {
  .my-name {
    font-size: 24px;
  }
}

@media screen and (max-width: 726px) {
  .my-name {
    font-size: 20px;
  }
}

.walter-white {
  font-family: 'Raleway', sans-serif;
}

.my-website {
  font-family: 'Raleway', sans-serif;
  margin-top: 40px;
}

.what-i-can-do {
  font-size: 22px;
  margin-top: -20px;
}

@media screen and (max-width: 887px) {
  .what-i-can-do {
    font-size: 20px;
  }
}

@media screen and (max-width: 726px) {
  .what-i-can-do {
    font-size: 16px;
  }
}

#pb0 {
  background-image: url("../imgs/assembly.jpg");
}

#pb1 {
  background-image: url("../imgs/speakers.jpg");
}

#pb2 {
  background-image: url("../imgs/virtual-reality.jpg");
}

#pb3 {
  background-image: url("../imgs/last-of-us.jpg");
}

#pb4 {
  background-image: url("../imgs/nintendo-switch.jpg");
}

#pb5 {
  background-image: url("../imgs/heisenberg.jpg");
}
